.room-trigger {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0 26px 26px;
  position: relative;
  width: 100%;
  max-width: 100%;

  @media (min-width: 768px) {
    max-width: calc((100% - 1rem) / 2);
  }

  @media (min-width: 992px) {
    max-width: 288px;
  }

  // .room-trigger__border
  &__border {
    clip-path: polygon(
      36px 0,
      100% 0,
      100% calc(100% - 30px),
      calc(100% - 36px) 100%,
      0 100%,
      0 30px
    );
    backdrop-filter: blur(15px);
    background-color: #1e163b;
    border: 1px solid #ff7d04;
    box-shadow: 0px 0px 30px 0px rgba(255, 125, 4, 0.5) inset;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    &::before,
    &::after {
      background-color: #ff7d04;
      content: '';
      height: 2px;
      position: absolute;
      width: 47px;
    }

    &::before {
      left: 0;
      top: 30px;
      transform-origin: top left;
      transform: translate(-1px, -2px) rotate(-40deg);
    }

    &::after {
      bottom: 0;
      right: -10px;
      transform-origin: top left;
      transform: translate(1px, 2px) rotate(-40deg);
    }
  }

  // .room-trigger__img-blur
  &__img-blur {
    filter: blur(8px) drop-shadow(0 0 15px rgba(255, 125, 4, 0.5));
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }

  // .room-trigger__media
  &__media {
    align-items: center;
    display: flex;
    height: 130px;
    justify-content: center;
    width: 100%;
  }

  // .room-trigger__img
  &__img {
    height: 100%;
    object-fit: contain;
    transform: translate(0, -25px);
  }

  // .room-trigger__content
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  // .room-trigger__title
  &__title {
    margin-bottom: 0;
    position: relative;
  }

  // .room-trigger__list
  &__list {
    margin: 0;
    padding-left: 20px;
    list-style-type: disc;

    li {
      margin-bottom: 3px;
    }
  }
}

.room-trigger.horizontal {
  @media (min-width: 992px) {
    align-items: center;
    flex-direction: row;
    gap: 24px;
    max-width: 100%;
    padding: 32px;

    .room-trigger__media {
      height: 100%;
      max-width: 130px;
    }

    .room-trigger__img {
      height: auto;
      transform: translate(0, 0);
      width: 100%;
    }
  }
}
