.socials {
  align-items: center;
  display: inline-flex;
  gap: 18px;

  // .socials__link
  &__link {
    text-decoration: none;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    transition: filter 0.3s ease;

    &:hover,
    &:focus-visible {
      filter: drop-shadow(0px 0px 15px rgba(255, 0, 161, 0.5));
    }

    img {
      object-fit: contain;
    }
  }
}

/* input[type="range"]:focus,
input[type="number"]:focus {
  box-shadow: 0 0 3px 1px #4b81dd;
  outline: none;
} */

/* input[type='range'] {
  -webkit-appearance: none;

  height: 6px;
  background: #ffe5c0;
  border-radius: 3px;
  background-color: #ffe5c0;
  background-image: linear-gradient(#ffa424, #ffa424);
  background-size: 0% 100%;
  background-repeat: no-repeat;

  @media (min-width: 992px) {
    height: 4px;
  }
} */

/* Input Thumb */
/* input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ffa424;
  cursor: ew-resize;
  box-shadow: 0 0 0 2px #ffe5c0;
  transition: background 0.3s ease-in-out;

  @media (min-width: 992px) {
    height: 10px;
    width: 10px;
  }
} */

/* input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ffa424;
  cursor: ew-resize;
  box-shadow: 0 0 0 2px #ffe5c0;
  transition: background 0.3s ease-in-out;

  @media (min-width: 992px) {
    height: 10px;
    width: 10px;
  }
} */

/* input[type='range']::-ms-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ffa424;
  cursor: ew-resize;
  box-shadow: 0 0 0 2px #ffe5c0;
  transition: background 0.3s ease-in-out;

  @media (min-width: 992px) {
    height: 10px;
    width: 10px;
  }
} */

/* input[type='range']::-webkit-slider-thumb:hover {
  background: #ffa424;
}

input[type='range']::-moz-range-thumb:hover {
  background: #ffa424;
}

input[type='range']::-ms-thumb:hover {
  background: #ffa424;
} */

/* Input Track */
/* input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type='range']::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type='range']::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
} */

/* .yt-video {
  border-radius: inherit;
  width: 100%;
  aspect-ratio: 560 / 315;
  max-width: 100%;

  iframe {
    aspect-ratio: inherit;
    border-radius: inherit;
    max-width: inherit;
    pointer-events: none;
    width: inherit;
    height: auto;
  }
} */

/* .select {
  appearance: none;
  background-color: #f0f0f0;
  background-image: url('/assets/svg/select-bottom.svg');
  background-position: right 1rem center;
  background-repeat: no-repeat;
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  color: #000000;
  cursor: pointer;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-size: 20px;
  height: 64px;
  padding: 0.5rem 2rem 0.5rem 1rem;
  width: 100%;

  @media (min-width: 1200px) {
    padding: 0.5rem 2.5rem 0.5rem 1.5rem;
  }

  &:hover,
  &:focus {
    border-color: rgba(5, 108, 218, 0.1);
  }

  // .select--alt
  &--alt {
    background-color: #0b109f;
    background-image: url('/assets/svg/select-bottom-alt.svg');
    border: 1px solid #0b109f;
    color: #ffffff;
  }
}
 */

.card-first {
  padding: 125px 0 190px;

  // .card-first__title
  &__title {
    margin-bottom: 30px;
    font-weight: 700;
  }

  // .card-first__subtitle
  &__subtitle {
    margin-bottom: 48px;
  }

  // .card-first__btn
  &__btn {
    white-space: nowrap;

    .btn-main__inner {
      font-size: 20px;
      line-height: auto;
      padding-left: 110px;
      padding-right: 110px;
    }
  }
}

.card-first-media {
  height: 100%;
  position: relative;
  width: 100%;
  min-height: 600px;

  .float-img-1 {
    filter: drop-shadow(0px 0px 50px rgba(255, 125, 4, 0.1));
    left: -1%;
    position: absolute;
    top: 11%;
  }

  .float-img-2 {
    bottom: 7%;
    filter: drop-shadow(0px 0px 50px rgba(115, 4, 255, 0.2));
    position: absolute;
    right: -11%;
  }
}

.room-media {
  background-color: transparent;
  height: 100%;
  width: 100%;

  // .room-media__img
  &__img {
    display: none;
    mix-blend-mode: lighten;
    width: 100%;
    z-index: -1;

    @media (min-width: 1200px) {
      display: block;
      transform: translate(-305px, -40px);
      width: auto;
    }
  }
}

.card-room {
  position: relative;
  z-index: 2;

  // .card-room__title
  &__title {
    margin-bottom: 20px;
    max-width: 713px;
  }

  // .card-room__subtitle
  &__subtitle {
    margin-bottom: 82px;
  }

  // .card-room__items
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 1rem;
    margin-bottom: 60px;
    max-width: 100%;

    @media (min-width: 992px) {
      justify-content: space-between;
      gap: 36px 26px;
    }

    @media (min-width: 1200px) {
      max-width: 917px;
    }
  }

  // .card-room__btn
  &__btn {
    position: relative;
  }
}

.slider-zones {
  --swiper-navigation-size: 60px;

  overflow: visible;

  .swiper-slide {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .swiper-slide-visible {
    opacity: 1;
    transform: scale(1);
  }

  .swiper-button-prev,
  .swiper-button-next {
    align-items: center;
    background-color: #ff00a1;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px;

    &:hover,
    &:focus-visible {
      filter: brightness(0.9);
    }

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    transform: translate(-140px, 0);
    clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 0 15px);
  }

  .swiper-button-next {
    transform: translate(140px, 0);
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      0 100%
    );
  }
}
