.socials {
  align-items: center;
  display: inline-flex;
  gap: 18px;

  // .socials__link
  &__link {
    text-decoration: none;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    transition: filter 0.3s ease;

    &:hover,
    &:focus-visible {
      filter: drop-shadow(0px 0px 15px rgba(255, 0, 161, 0.5));
    }

    img {
      object-fit: contain;
    }
  }
}

.card-first {
  padding: 50px 0 0px;

  @media (min-width: 400px) {
    padding: 80px 0 0px;
  }

  @media (min-width: 576px) {
    padding: 125px 0 0px;
  }

  @media (min-width: 992px) {
    padding: 125px 0 190px;
  }

  // .card-first__title
  &__title {
    margin-bottom: 30px;
    font-weight: 700;
  }

  // .card-first__subtitle
  &__subtitle {
    margin-bottom: 48px;
  }

  // .card-first__btn
  &__btn {
    white-space: nowrap;
    width: 100%;

    @media (min-width: 400px) {
      width: auto;
    }

    .btn-main__inner {
      font-size: 20px;
      line-height: auto;
      width: 100%;

      @media (min-width: 400px) {
        padding-left: 110px;
        padding-right: 110px;
        width: auto;
      }
    }
  }
}

.card-first-media {
  height: 100%;
  min-height: 450px;
  position: relative;
  width: 100%;

  @media (min-width: 768px) {
    min-height: 600px;
  }

  @media (min-width: 1400px) {
    width: auto;
  }

  @media (min-width: 1500px) {
    margin-left: -130px;
  }

  .float-img-1 {
    filter: drop-shadow(0px 0px 50px rgba(255, 125, 4, 0.1));
    left: -13%;
    position: absolute;
    top: 11%;
    width: 70%;

    @media (min-width: 768px) {
      left: -13%;
      width: 60%;
    }

    @media (min-width: 992px) {
      left: -10%;
      width: 100%;
    }

    @media (min-width: 1200px) {
      left: -1%;
      width: auto;
    }
  }

  .float-img-2 {
    bottom: 7%;
    filter: drop-shadow(0px 0px 50px rgba(115, 4, 255, 0.2));
    position: absolute;
    right: -13%;
    width: 70%;

    @media (min-width: 768px) {
      right: -13%;
      width: 60%;
    }

    @media (min-width: 992px) {
      right: -40%;
      width: 100%;
    }

    @media (min-width: 1200px) {
      right: -11%;
      width: auto;
    }
  }
}

.room-media {
  background-color: transparent;
  height: 100%;
  width: 100%;

  // .room-media__img
  &__img {
    display: none;
    mix-blend-mode: lighten;
    width: 100%;
    z-index: -1;

    @media (min-width: 1200px) {
      display: block;
      transform: translate(-305px, -40px);
      width: auto;
    }
  }
}

.card-room {
  position: relative;
  z-index: 2;

  // .card-room__title
  &__title {
    margin-bottom: 20px;
    max-width: 713px;
  }

  // .card-room__subtitle
  &__subtitle {
    margin-bottom: 82px;
  }

  // .card-room__items
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 1rem;
    margin-bottom: 60px;
    max-width: 100%;

    @media (min-width: 992px) {
      justify-content: space-between;
      gap: 36px 26px;
    }

    @media (min-width: 1200px) {
      max-width: 917px;
    }
  }

  // .card-room__btn
  &__btn {
    position: relative;
  }
}

.slider-zones {
  --swiper-navigation-size: 60px;

  overflow: visible;

  .swiper-slide {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .swiper-slide-visible {
    opacity: 1;
    transform: scale(1);
  }

  .swiper-button-prev,
  .swiper-button-next {
    align-items: center;
    background-color: #ff00a1;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px;

    &:hover,
    &:focus-visible {
      filter: brightness(0.9);
    }

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    transform: translate(-140px, 0);
    clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 0 15px);
  }

  .swiper-button-next {
    transform: translate(140px, 0);
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      0 100%
    );
  }
}
